{% extends 'todo/base.html' %}

{% block content %}
    <div class="index__text">
    {% if request.user.is_authenticated %}
        <p> Вы вошли как пользователь: {{ user.username }}</p>
        <p> ID пользователя: {{ user.pk }}</p>
<!--        <p> Количество незавершенных дел:</p>-->
<!--        <p> Количество товаров, которые нужно купить:</p>-->
    {% else%}
        <p> Вы не вошли на сайт</p>
        <p> Вы можете войти под своим именем или зарегистрироваться как новый пользователь</p>
    </div>
    {% endif %}
{% endblock %}