{% extends 'todo/base.html' %}

{% block content %}
<h1 class="h1_about">Авторизация</h1>
    <div class="form_auth_block">
      <div class="form_auth_block_content">
        <form class="form_auth_style" action="#" method="post">
          {% csrf_token %}
          <input name="auth_name" placeholder="Введите Ваш никнейм" required >
          <br>
          <input type="password" name="auth_pass" placeholder="Введите пароль" required >
          <br>
          <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
        </form>
      </div>
    </div>
{% endblock %}